body {
	font-family:  'lato', sans-serif;
	font-weight: 300;
	color: #7d97ad;
}

hr {
	border: solid 1px #2d3c49;
}

.title-super {
	font-weight: 100;
	font-size: 5em;
}

.title-logo {
	height: 140px;
	width: 400px;
}

.project-img {
	margin-left: auto ;
	margin-right: auto;
}